/** global **/
body {
    margin:0;
    padding:0;
    font-family: Verdana, Calibri, Arial, Sans-Serif;
    font-weight:normal;
    font-size:large;
    color:#525252;
    background:#fff url('images/default/body-bg.jpg') repeat-x;
}
* {
    margin:0;
    padding:0;
}


/** element defaults **/
table {
    width:100%;
    text-align:left;
}
th, td {
    padding:5px 10px;
}
th {
    color:#fff;
    background-color:#630303;
}
td {
    border-bottom:1px solid #f4f4f4;
}
code, blockquote {
    display:block;
    border-left:5px solid #ddd;
    padding:10px;
    margin-bottom:20px;
}
blockquote p {
    font-style:italic;
    font-family:Georgia, "Times New Roman", Times, serif;
    margin:0;
    height: 1%;
}
p {
    line-height:1.9em;
    margin-bottom:15px;
    line-height: 18px;
}


b {
  font-weight: 900;
  color:#1a1a1a;
}

a {
    color:#0D3C84;
}
a:hover {
    color:#0C3A85;
}
a:focus {
    outline:none;
}

h1 {
    font-size:45px;
}
h2 {
    font-size:30px;
    font-weight:bold;
    letter-spacing:-2px;
    padding:0;
    margin:0;
}
h3 {
    font-size:large;
    padding-bottom:10px;
}
h4 {
    padding-bottom:10px;
    font-weight:bold;
    font-size:medium;
}

/** small **/
h5 {
    font-size:11px;
    font-weight:normal;

}

h1,
h2,
h3,
h4{
color:#630303;
}


ul, ol {
    margin:0 0 35px 35px;
}
li {
    padding-bottom:5px;
}

/** For consistency make scrollbar on each page visible **/
html {
    overflow-y: scroll;
}

/** wrapper **/
div#wrapper {
    width:50%;
    margin:0px auto;
    padding:0;
}


/*********************************** header ***********************************/
div#header {
    height: 213px; /* 200 for header-bg, another 13 for the used margin-top */
    background:transparent url('images/default/header-bg.jpg') no-repeat;
    width:100%;
    position: relative;
    margin-top:13px;
}
div#header h1{
    white-space: nowrap;
    color:#ffffff;
    font-size:48px;
    font-weight:normal;
    margin-left:10px;
}
div#header h2 {
    white-space: nowrap;
    color:#ffffff;
    padding-bottom:0;
    margin-left:80px;
    margin-top:10px;
    font-weight:normal;
    font-style: italic;
    font-size:40px;
    display:block;
    letter-spacing:0;
}
div#header h3 {
    color:#C2D7F9;
    margin-left:80px;
    margin-top:10px;
    font-size:18px;
}

.portrait-container, .portrait {
    display: table-row;
    margin-bottom:20px;
}

.portrait {
    height: 200px;
    display: table-cell;
}
.portrait-text {
    display: table-cell;
    vertical-align: top;
    font-size: large;
    font-weight:normal
}

.large-image-container, .large-image {
    width: 100%;
    margin-bottom:20px;
    float:left;
    margin-right:15px;

}

.large-image {
    float:left;
    margin-right:15px;
    font-size: large;
    font-weight:normal
}

.galery-image-container, .galery-image {
    width: 500px;
    margin-bottom:20px;
    float:left;

}

.galery-image {
    float:left;
    font-size: large;
    font-weight:normal
    
}

.galery-image-zoomed {
                    height: 400px;
                    top: 50%;
                    left: 50%;
                    margin-top: -200px; /* Negative half of height. */
                    margin-left: -250px; /* Negative half of width. */
}


/*********************************** body ***********************************/
div#body {
    position: relative;
    display: table-row;
    width: 100%;
    margin-top:50px;
}

                
/** content+sidebar styles **/
div.column-left {
    width: 30%;
    display: table-cell;
    vertical-align: top;
    margin-right:10px;
}
div.column-center {
    width: 60%;
    display: table-cell;
    vertical-align: top;
}
div.column-right {
    width: 10%;
    display: table-cell;
    vertical-align: top;
    float:right;
}

div#sidebar ul {
    margin:0;
    padding:0;
    list-style:none;
}
div#sidebar li ul li {
    display:block;

    color:#777;
}
div#sidebar li ul li a {
    color:#333;
    text-decoration:none;
    font-family:Verdana, Geneva, sans-serif;
    font-weight:bold;
}
div#sidebar li ul li a:hover {
    color:#09285E;
    background:transparent url('images/default/item-hovered.jpg') no-repeat;
}

div#sidebar li ul.blocklist li {
    padding:0;
}
div#sidebar li ul.blocklist li.selected-item  {
    border-bottom:none;
}
div#sidebar li ul.blocklist li.selected-item a {
    color:#fff;
    font-weight:bold;
    background:transparent url('images/default/item-selected.jpg') no-repeat;
}
div#sidebar li ul.blocklist li.selected-item a:hover {
    text-decoration:none;
}
div#sidebar li ul.blocklist li a {
    color:#666;
    width:260px;
    display:block;
    padding-top:5px;
    padding-right:10px;
    padding-bottom:8px;
    padding-left:10px;
}

div#sidebar h4 { 
    color:#0C367E;
    font-family:arial;
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
    margin:0;
    padding:7px 10px;
}


/*************************************** footer ***************************************/
#footer {
    padding:20px 20px;
    color:#666;
    border-top:5px solid #ccc;
    position: relative;
    margin-bottom:20px;
}
#footer #left {
    margin:0;
    width:30%;
    float:left;
}
#footer #right {
    margin:0;
    width:70%;
    float:right;
    color:#000000;
    font-size:11px;
}

#footer #right #tab1 {
    width:40%;
    float:left;
}

#footer #right #tab2 {
    width:40%;
    float:left;
}

#footer #right div p{
   margin-right: 5px;
}

#footer #right #tab3 {
    width:20%;
    float:right;
}

#footer #left p a {
    color:#666;
    font-weight:bold;
    font-size:16px;
    text-decoration:none;
}
#footer #left p {
    font-size:11px;
    text-decoration:none;
} 

/*************************************** used for mail address in impressum ***************************************/
.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}

/***************************************** tablet / smartphone *****************************************/
@media only screen and (max-width: 1024px) {
}

/** tablet / smartphone **/
@media only screen and (max-width: 480px) {

h1 {
    font-size:20px;
}
h2 {
    font-size:30px;
    font-weight:bold;
    letter-spacing:-2px;
    padding:0 0 5px;
    margin:0;
}
h3 {
    font-size:20px;
    padding-bottom:10px;
}
h4 {
    padding-bottom:10px;
    font-size:15px;
}
h5 {
    padding-bottom:10px;
    font-size:13px;
}

div#header {
    width:100%;;
    height: 80px; /* 100 for header-bg, another 10 for the used margin-top */
    background:transparent url('images/mobile/header-bg.jpg') no-repeat;
    background:#fff url('images/mobile/body-bg.jpg') repeat-x;
    position: relative;
    margin-top:0px;
}

div#header h1{
    padding-top:5px;
    font-size:18px;
    margin-left:10px;
    letter-spacing:0px;
}
div#header h2 {
    margin-left:30px;
    font-size:16px;
    letter-spacing:0;
}
div#header h3 {
    margin-left:30px;
    margin-top:5px;
    font-size:14px;
}


body {
    font-weight: 700;
    font-size:16px;
    
}

div#wrapper {
    width:100%;

}

div#content {
    width:100%;
}

div#body {
    padding:0%;
    position: relative;
}

div.column-left {
    display: inline;
    margin-left:10px;
    margin-top:0px;
    width:100%;
}
div.column-center {
    display: block;
    padding-left:5px;
    padding-right:50px;
    width:90%;
}
div.column-right {
    display: block;
    vertical-align:top;
    float:right;
    width:90%;
}

#CSchwinn {
    float:left;
    width: 100px;
}

div#sidebar {
    width:100%;
    background-color: #c8ccd7;
    margin-bottom: 8px;
}
div#sidebar ul {
    margin:0;
    padding:0;
    list-style:none;
    width:100%;

}

div#sidebar li ul {
width:100%;
}

div#sidebar li ul li a {
    background:#fff url('images/mobile/item-hovered.jpg') repeat-x;
}

div#sidebar li ul li a:hover {
    background:#fff url('images/mobile/item-hovered.jpg') repeat-x;
}

div#sidebar li ul.blocklist li.selected-item a {
    background:#fff url('images/mobile/item-selected.jpg') repeat-x;
}

div#sidebar li ul.blocklist li a {
    width:100%;
    padding-top:6px;
    padding-bottom:6px;
}

.large-image-container, .large-image {
    width:90%;
    margin-bottom:20px;

}

.galery-image-container, .galery-image {
    width:50%;
    margin-bottom:20px;
    float:left;
    margin-left:0px;
    margin-right:0px;
    padding:0px;
}

.galery-image-zoomed {
                    height: 160px;
                    top: 50%;
                    left: 50%;
                    margin-top: -80px; /* Negative half of height. */
                    margin-left: -120px; /* Negative half of width. */
}

}